.navbar{
    margin: 20px;
    float: right;
    margin-right: 50px;
    margin: 20px 20px;
    box-shadow: 7px 6px;
}
header{
    box-shadow: 6px 7px;
}
.nav-container{
    display: inline;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: auto;
}
#link{
    padding: 1%;
    margin: 1%;
    padding-left: 10%;
}
.img{
    height: 300px;
    border-radius: 10px;
    width: 100%;
}
footer{ 
    text-align: center;
}
body{
    background-color: darkturquoise;
}
h1{ text-align: center;}
h2{
    text-align: center;
}